<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>完工上报</title>
</head>
<body class="container">
<div class="row">
    <div class="col-md-12">
        <!-- 标题（开始） -->
        <ol class="breadcrumb">
            <li><a href={:url('Contract/install')}><span class = "glyphicon glyphicon-option-vertical"></span>合同安装信息</a></li>
            <li class="active">工号信息</li>
        </ol>
        <!-- 标题（结束） -->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <!-- 查询（开始） -->
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="input-group">
                                        <input  id="contract_id" name="contract_id" type="text" class="form-control" placeholder="合同号..." readonly="readonly" value="{:input('get.contract_id')}">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <a href="{:url('installExport')}" class="btn btn-default"><i class="glyphicon glyphicon-export"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 查询（结束） -->
            </div>
            <div class="panel-body">
                <!-- 表单（开始） -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped table-condensed">
                        <tr class="info">
                            <th></th>
                            <th style=" font-size: 8px;white-space:nowrap">序号</th>
                            <th style=" font-size: 8px;white-space:nowrap">ID</th>
                            <th style=" font-size: 8px;white-space:nowrap">工号</th>
                            <th style=" font-size: 8px;white-space:nowrap">合同号</th>
                            <th style=" font-size: 8px;white-space:nowrap">状态</th>
                            <th style=" font-size: 8px;white-space:nowrap">分包日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">预计发货</th>
                            <th style=" font-size: 8px;white-space:nowrap">发货日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">进场日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">完工日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">完工日期(临梯)</th>
                            <th style=" font-size: 8px;white-space:nowrap">技监日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">技监日期(临梯)</th>
                            <th style=" font-size: 8px;white-space:nowrap">项目经理</th>
                            <th style=" font-size: 8px;white-space:nowrap">完工事业部</th>
                            <th style=" font-size: 8px;white-space:nowrap">一二期欠款</th>
                            <th style=" font-size: 8px;white-space:nowrap">关闭日期</th>
                            <th style=" font-size: 8px;white-space:nowrap">分公司</th>
                            <th style=" white-space:nowrap">安装网点</th>
                            <th style=" white-space:nowrap">电梯型号</th>
                            <th style=" white-space:nowrap">层</th>
                            <th style=" white-space:nowrap">站</th>
                            <th style=" white-space:nowrap">门</th>
                            <th style=" white-space:nowrap">提升高度</th>
                            <th style=" white-space:nowrap">井道总高</th>
                            <th style=" white-space:nowrap">安装预收</th>
                            <th style=" white-space:nowrap">安装实收</th>
                            <th style=" white-space:nowrap">标准安装价</th>
                            <th style=" white-space:nowrap">吊装</th>
                            <th style=" white-space:nowrap">搭棚</th>
                            <th style=" white-space:nowrap">实际分包价</th>
                        </tr>
                        {volist name="products" id="_Products" key="key"}
                        {eq name="_Products.complete_status" value="已拒绝"}
                        <tr class="danger">
                        {else/}
                            {eq name="_Products.complete_status" value="已审核"}
                                <tr class="success">
                            {else/}
                                <tr>
                            {/eq}
                        {/eq}
                        {eq name="Think.session.super_admin" value="1"}
                        <td><input type="checkbox" name="product_check" value="{$_Products.id}"></td>
                        {else/}
                            {eq name="_Products.complete_status" value="已审核"}
                            <td><input type="checkbox"  onclick="return false;"></td>
                            {else/}
                            <td><input type="checkbox" name="product_check" value="{$_Products.id}"></td>
                            {/eq}
                        {/eq}
                            <td style=" white-space:nowrap">{$key}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('id')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('product_id')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('contract_id')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('complete_status')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('subcontract_sign_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('predict_delivery_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('report_delivery_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('entry_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('complete_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('temp_elevator_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('issuing_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('temp_issuing_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('supervisor')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('complete_bu')}</td>
                            <!--switch控制一二期欠款标签颜色，默认系统会自动加上break-->
                            {switch name="$_Products.exist_12_phase" }
                            {case value="是"}
                            <td style="font-size: 8px;white-space:nowrap"><span class="badge" style="background-color: orangered">{$_Products->getData('exist_12_phase')}</span></td>
                            {/case}
                            {case value="否"}
                            <td style="font-size: 8px;white-space:nowrap"><span class="badge" style="background-color: green">{$_Products->getData('exist_12_phase')}</span></td>
                            {/case}
                            {default /}
                            {/switch}
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('close_date')}</td>
                            <td style=" font-size: 8px;white-space:nowrap">{$_Products->getData('install_company')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('supplier')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('elevator_model')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('floor')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('stop')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('door')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('hoist_height')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('hoistway_height')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('install_expected_collected')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('install_amount_collected')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('entrust_spl')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('hoisting_cost')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('shed')}</td>
                            <td style=" white-space:nowrap">{$_Products->getData('wa_amount')}</td>
                        </tr>
                        {/volist}
                    </table>
                    {$products->render()}
                </div>
                <!-- 表单（结束） -->
            </div>
            <div class="panel-footer">
                <input type="checkbox" id="check_all" onclick="CheckAll()">全选/全不选
                <button class="btn-warning btn-xs" id='deliveryPredict' onclick="SelectPredict();">发货预测</button>
                <button class="btn-warning btn-xs" onclick="SelectComplete();">批量完工</button>
                {eq name="Think.session.super_admin" value="1"}
                <button class="btn-warning btn-xs" onclick="SelectBatchCompleteEdit();">完工信息批量修改</button>
                {else/}
                {/eq}
            </div>
        </div>
    </div>
</div>
<hr \>
<!-- 模态框（删除-开始） -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:30%">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    请确认是否删除？
                </h4>
            </div>
            <form id="DeleteForm">
                <input class="form-control" type="hidden" readonly="readonly" id="delete_id" name="delete_id" />
                <input class="form-control" type="hidden" readonly="readonly" id="delete_product_id" name="delete_product_id" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="Delete()" class="btn btn-danger">删除</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（删除-结束） -->
<!-- 模态框（撤销工号-开始） -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    撤销工号
                </h4>
            </div>
            <form id="RevokeForm">

                <input class="form-control" type="hidden" id="revoke_id" name="revoke_id" />

                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-4 col-sm-4">
                            <button type="button" onclick="HeadRevoke()" class="btn btn-danger">总公司撤销</button>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                        </div>
                        <div class="col-xs-4 col-sm-4 ">
                            <button type="button" onclick="SdRevoke()" class="btn btn-warning">山东司撤销</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（撤销工号-结束） -->
<!-- 模态框（批量生效-开始） -->
<div class="modal fade" id="BatchIntoForce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量转生效
                </h4>
            </div>
            <form id="BatchIntoForceForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <input class="form-control" type="text" id="batch_into_force_id" name="batch_into_force_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            本次生效台量:
                            <input class="form-control" type="text" id="b_into_force_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            合同号:
                            <input class="form-control" type="text" id="b_contract_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            收款编号:
                            <input class="form-control" type="text" id="b_receipt_id" name="b_receipt_id" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">ERP款项是否拆分:</a>
                            <select id="b_if_split" name="b_if_split" class="selectpicker form-control" >
                                <option value="是" selected>是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">生效款超过5%:</a>
                            <select id="b_enough_5_percent" name="b_enough_5_percent" class="selectpicker form-control" >
                                <option value="是" selected>是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">生效日期:</a>
                            <div class='input-group date' id='into_force_date'>
                                <input type='text' class="form-control" id='b_into_force_date' name='b_into_force_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">业绩归属:</a>
                            <select id="b_belong_to" name="b_belong_to" class="selectpicker form-control" value="" onchange="GetSalesPerson()">
                                　　             <option data-tokens="ketchup mustard" value="">请选择业绩归属</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">营业员:</a>
                            <select id="b_sales_person" name="b_sales_person" class="selectpicker form-control" value="">
                                　　             <option data-tokens="ketchup mustard" value="">请选择营业员</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="BatchIntoForce()" class="btn btn-danger">批量转生效</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量生效-结束） -->
<!-- 模态框（批量待生效-开始） -->
<div class="modal fade" id="BatchUnIntoForce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量转待生效
                </h4>
            </div>
            <form id="BatchUnIntoForceForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <input class="form-control" type="text" id="batch_un_into_force_id" name="batch_un_into_force_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            本次生效台量:
                            <input class="form-control" type="text" id="u_into_force_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            合同号:
                            <input class="form-control" type="text" id="u_contract_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            收款编号:
                            <input class="form-control" type="text" id="u_receipt_id" name="u_receipt_id" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">ERP款项是否拆分:</a>
                            <select id="u_if_split" name="u_if_split" class="selectpicker form-control" >
                                <option value="是" selected>是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">生效款超过5%:</a>
                            <select id="u_enough_5_percent" name="u_enough_5_percent" class="selectpicker form-control" >
                                <option value="是" selected>是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">业绩归属:</a>
                            <select id="u_belong_to" name="u_belong_to" class="selectpicker form-control" value="" onchange="GetUnSalesPerson()">
                                　　             <option data-tokens="ketchup mustard" value="">请选择业绩归属</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">营业员:</a>
                            <select id="u_sales_person" name="u_sales_person" class="selectpicker form-control" value="">
                                　　             <option data-tokens="ketchup mustard" value="">请选择营业员</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="BatchUnIntoForce()" class="btn btn-danger">批量转待生效</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量待生效-结束） -->
<!-- 模态框（批量撤销-开始） -->
<div class="modal fade" id="BatchRevoke" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量撤销
                </h4>
            </div>
            <form id="BatchRevokeForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <textarea class="form-control" type="text" id="batch_revoke_id" name="batch_revoke_id" rows="2" readonly="readonly"></textarea>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            撤销台量:
                            <input class="form-control" type="text" id="r_revoke_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            合同号:
                            <input class="form-control" type="text" id="r_contract_id" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="SdBatchRevoke()" class="btn btn-warning">山东司撤销</button>
                            <button type="button" onclick="HBatchRevoke()" class="btn btn-danger">总公司撤销</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量撤销-结束） -->
<!-- 模态框（批量转拆款-开始） -->
<div class="modal fade" id="BatchSplit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量转拆款
                </h4>
            </div>
            <form id="BatchSplitForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <textarea class="form-control" type="text" id="batch_split_id" name="batch_split_id" rows="2" readonly="readonly"></textarea>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            修改台量:
                            <input class="form-control" type="text" id="s_split_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            合同号:
                            <input class="form-control" type="text" id="s_contract_id" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="BatchSplit()" class="btn btn-warning">批量转拆分</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量转拆款-结束） -->
<!-- 模态框（批量完工-开始） -->
<div class="modal fade" id="BatchComplete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量转完工
                </h4>
            </div>
            <form id="BatchCompleteForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <input class="form-control" type="text" id="batch_complete_id" name="batch_complete_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            本次完工台量:
                            <input class="form-control" type="text" id="b_complete_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">区域:</a>
                            <select id="install_company" name="install_company" class="selectpicker form-control" value="" onchange="GetSupervisor();GetBuName();">
                　　             <option data-tokens="ketchup mustard" value="">请选择区域</option>
                                <option value="济南大区">济南大区</option>
                                <option value="青岛分公司">青岛分公司</option>
                                <option value="潍坊分公司">潍坊分公司</option>
                                <option value="烟台分公司">烟台分公司</option>
                                <option value="临沂分公司">临沂分公司</option>
                                <option value="东营分公司">东营分公司</option>
                                <option value="德州分公司">德州分公司</option>
                                <option value="济宁分公司">济宁分公司</option>
                                <option value="菏泽办事处">菏泽办事处</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">项目经理:</a>
                            <select id="supervisor" name="supervisor" class="selectpicker form-control" value="">
            　　              <option data-tokens="ketchup mustard" value="">请选择项目经理</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">事业部:</a>
                            <select id="complete_bu" name="complete_bu" class="selectpicker form-control form-group-sm" multiple data-max-options="1"  title="请选择事业部">
        　　                  <option data-tokens="ketchup mustard" value="">请选择事业部</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">完工日期:</a>
                            <div class='input-group date' id='b_complete_date'>
                                <input type='text' class="form-control" id='complete_date' name='complete_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">完工日期(临梯):</a>
                            <div class='input-group date' id='b_temp_elevator_date'>
                                <input type='text' class="form-control" id='temp_elevator_date' name='temp_elevator_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">技监发证日期:</a>
                            <div class='input-group date' id='b_issuing_date'>
                                <input type='text' class="form-control" id='issuing_date' name='issuing_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">技监发证日期(临梯):</a>
                            <div class='input-group date' id='b_temp_issuing_date'>
                                <input type='text' class="form-control" id='temp_issuing_date' name='temp_issuing_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="BatchComplete()" class="btn btn-danger">批量转完工</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量完工-结束） -->
<!-- 模态框（批量发货预测-开始） -->
<div class="modal fade" id="BatchDeliveryPredict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    发货预测
                </h4>
            </div>
            <form id="BatchDeliveryPredictForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <input class="form-control" type="text" id="batch_predict_id" name="batch_predict_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            本次预测台量:
                            <input class="form-control" type="text" id="b_predict_delivery_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">预计发货日期:</a>
                            <div class='input-group date' id='b_predict_delivery_date'>
                                <input type='text' class="form-control" id='predict_delivery_date' name='predict_delivery_date' />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="BatchPredict()" class="btn btn-danger">批量预测</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（批量发货预测-结束） -->
<!-- 模态框（完工信息批量修改-开始） -->
<div class="modal fade" id="BatchCompleteEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    批量转完工
                </h4>
            </div>
            <form id="BatchCompleteEditForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            批量操作的ID:
                            <input class="form-control" type="text" id="batch_complete_edit_id" name="batch_complete_edit_id" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            本次修改台量:
                            <input class="form-control" type="text" id="b_complete_edit_sum" readonly="readonly" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">区域:</a>
                            <select id="e_install_company" name="e_install_company" class="selectpicker form-control" value="" onchange="CompleteEditGetSupervisor();CompleteEditGetBuName();">
                　　             <option data-tokens="ketchup mustard" value="">请选择区域</option>
                                <option value="济南大区">济南大区</option>
                                <option value="青岛分公司">青岛分公司</option>
                                <option value="潍坊分公司">潍坊分公司</option>
                                <option value="烟台分公司">烟台分公司</option>
                                <option value="临沂分公司">临沂分公司</option>
                                <option value="东营分公司">东营分公司</option>
                                <option value="德州分公司">德州分公司</option>
                                <option value="济宁分公司">济宁分公司</option>
                                <option value="菏泽办事处">菏泽办事处</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">项目经理:</a>
                            <select id="e_supervisor" name="e_supervisor" class="selectpicker form-control" value="">
                                　　              <option data-tokens="ketchup mustard" value="">请选择项目经理</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">事业部:</a>
                            <select id="e_complete_bu" name="e_complete_bu" class="selectpicker form-control form-group-sm" multiple data-max-options="1"  title="请选择事业部">
    　　                    <option data-tokens="ketchup mustard" value="">无</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">完工日期:</a>
                                <input type='text' class="form-control" id='e_complete_date' name='e_complete_date' />

                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">完工日期(临梯):</a>
                                <input type='text' class="form-control" id='e_temp_elevator_date' name='e_temp_elevator_date' />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">技监发证日期:</a>
                                <input type='text' class="form-control" id='e_issuing_date' name='e_issuing_date' />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a style="color: red;">技监发证日期(临梯):</a>
                                <input type='text' class="form-control" id='e_temp_issuing_date' name='e_temp_issuing_date' />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12 ">
                            <button type="button" onclick="BatchCompleteEdit()" class="btn btn-danger">批量转完工信息修改</button>
                            <button type="button" onclick="BatchCompleteBuEdit()" class="btn btn-danger">仅修改区域、项目经理、事业部</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（完工信息批量修改-结束） -->
</body>
<script src="/../tp5/public/static/js/myjs/product.js"></script>
</html>