<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保理手续费报销指引</title>
</head>
<body class="container">
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: green;color: white;border-radius: 15px;border: 2px;" href="__STATIC__/img/work_instruction/factor.pdf" download="保理手续费报销指引"><span class="glyphicon glyphicon-save
"></span>文件下载</a>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block"><img src="__STATIC__/img/work_instruction/factor.svg" class="img-responsive center-block" ></div>
</body>
</html>