<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作指引</title>
</head>
<body class="container">
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/modify')}"><span class="glyphicon glyphicon-link
"></span>修改单流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/tax_reform')}"><span class="glyphicon glyphicon-link
"></span>税改流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/factor')}"><span class="glyphicon glyphicon-link
"></span>保理手续费</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/hengda')}"><span class="glyphicon glyphicon-link
"></span>恒大流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/evergrande')}"><span class="glyphicon glyphicon-link
"></span>赶工奖流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/uncollectible')}"><span class="glyphicon glyphicon-link
"></span>不可收流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="{:url('WorkInstruction/bad_cost')}"><span class="glyphicon glyphicon-link
"></span>坏账流程</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="__STATIC__/img/work_instruction/文件交接单.docx"><span class="glyphicon glyphicon-link
"></span>文件交接单</a>
    <br>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="btn btn-block btn-default" style="background-color: #FF6666;color: white;border-radius: 15px;border: 2px;"  href="__STATIC__/img/work_instruction/文件确认函.docx"><span class="glyphicon glyphicon-link
"></span>文件确认函</a>
    <br>
</div>
</body>
</html>