<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不可收</title>
</head>
<body class="container">
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
<a class="btn btn-block btn-default" style="background-color: green;color: white;border-radius: 15px;border: 2px;" href="__STATIC__/img/work_instruction/uncollectible.pdf" download="山东司不可收合同应收款确认管理规则指引"><span class="glyphicon glyphicon-save
"></span>文件下载</a>
</div>
<div class="center-block"><img src="__STATIC__/img/work_instruction/uncollectible_1.jpg" class="img-responsive center-block" ></div>
<div class="center-block"><img src="__STATIC__/img/work_instruction/uncollectible_2.jpg" class="img-responsive center-block" ></div>
<div class="center-block"><img src="__STATIC__/img/work_instruction/uncollectible_3.jpg" class="img-responsive center-block" ></div>
</body>
</html>