<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>办事处指标完成情况</title>
</head>
<body class="container">
<h3 class="text-center"><span class="badge text-center" style="background-color: darksalmon;font-size: large">KPI<small></small></span></h3>
<div class="panel panel-default">
  <div class="panel-heading"><strong>生效KPI完成情况(数据截止{$Think.session.intoforce_date})</strong></div>
  <div class="table-responsive">
    <table
            class="table table-striped table-sm"
            id="intoForceIndexComplete"
            data-toggle="table"
            style="white-space: nowrap;"
            data-search="true"
            data-search-align="left">
    </table>
  </div>
</div>
</body>
<script src="__JS__/myjs/officeIndex.js"></script>
</html>