
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body >
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">主页</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">个人信息管理</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <h6 class="mb-0 text-uppercase">修改密码</h6>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" action="{:url('pwupdate')}" method="post">
                    <div class="col-2">
                        <label for="password">设置新密码:</label><br>
                        <input class="col-lg-2 form-control" type="password" id='password' name="password" required="required" />
                    </div>
                    <hr />
                    <button class="btn btn-success" type="submit">保存</button>
                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>