<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>保养台量数据</title>
</head>
<body class="container">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--标题信息-->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h4 class="panel-title"><span>保养台量数据</span></h4>
                    </div>
                    <!--<div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#NewStationmaster" style="color: #ffffff"><span class="glyphicon glyphicon-plus"></span>新增</a>
                        <a href="{:url('export')}" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-export"></i>&nbsp;导出</a>
                    </div>-->
                </div>
            </div>
            <div class="panel-body">
                <!--查询条件-->
               <!-- <form class="form-inline">
                    <div class="form-group">
                            <input name="company" type="text" class="form-control" placeholder="区域..." value="{:input('get.company')}">
                        </label>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </div>
                </form>-->
            </div>
            <!--表单显示-->
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <tr class="info">
                        <th>ID</th>
                        <th>操作</th>
                        <th>分公司</th>
                        <th>财年</th>
                        <th>三包在保</th>
                        <th>有偿指标</th>
                        <th>有偿在保</th>
                        <th>保养对象</th>
                        <th>转签率指标</th>
                        <th>转签率实绩</th>
                        <th>有偿季度指标(PPM)</th>
                        <th>有偿季度完成(PPM)</th>

                    </tr>
                    {volist name="maintains" id="_Maintain" key="key"}
                    <tr>
                        <td>{$_Maintain->getData('id')}</td>
                        <td>
                            <a title="编辑" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#EditModal" onclick="GetUpdateID('{$_Maintain.id}');"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                        <td>{$_Maintain->getData('company')}</td>
                        <td>{$_Maintain->getData('fyear')}</td>
                        <td>{$_Maintain->getData('guarantee')}</td>
                        <td>{$_Maintain->getData('paid_index')}</td>
                        <td>{$_Maintain->getData('paid')}</td>
                        <td>{$_Maintain->getData('maintain_object')}</td>
                        <td>{$_Maintain->getData('transfer_rate_index')}</td>
                        <td>{$_Maintain->getData('transfer_rate_complete')}</td>
                        <td>{$_Maintain->getData('season_paid_index')}</td>
                        <td>{$_Maintain->getData('season_paid')}</td>

                    </tr>
                    {/volist}
                </table>
                {$maintains->render()}
            </div>
        </div>
    </div>
</div>
</body>
<!-- 模态框（编辑保养台量数据-开始） -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    修改
                </h4>
            </div>
            <form id="EditForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            区域:
                            <input class="form-control" type="hidden" id="update_id" name="update_id" />
                            <input class="form-control" type="text" id="update_company" name="update_company" readonly="readonly"/>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            三包台量:
                            <input class="form-control" type="text" id="update_guarantee" name="update_guarantee" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            有偿指标:
                            <input class="form-control" type="text" id="update_paid_index" name="update_paid_index" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            有偿在保:
                            <input class="form-control" type="text" id="update_paid" name="update_paid" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            保养对象:
                            <input class="form-control" type="text" id="update_maintain_object" name="update_maintain_object" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            转签率指标:
                            <input class="form-control" type="text" id="update_transfer_rate_index" name="update_transfer_rate_index" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            转签率实绩:
                            <input class="form-control" type="text" id="update_transfer_rate_complete" name="update_transfer_rate_complete" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            有偿保养台量季度指标:
                            <input class="form-control" type="text" id="update_season_paid_index" name="update_season_paid_index" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            有偿保养台量季度完成(PPM):
                            <input class="form-control" type="text" id="update_season_paid" name="update_season_paid" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="UpdateMaintainNum()" class="btn btn-primary">修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 模态框（编辑保养台量数据-结束） -->
<script src="/../tp5/public/static/js/myjs/maintainNum.js"></script>
</html>