<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">设置</a></li>
            <li class="active">大客户维护</li>
            <li class="active">更新</li>
        </ol>
        <form class="form-inline" action="{:url('update')}" method="post">
            <div class="input-group">
                <input type="hidden" name="id" value="{$Bigcustomer->getData('id')}" />
                <span class="input-group-addon" id="basic-addon1">大客户编码</span>
                <input type="text" class="form-control" name="customer_id" placeholder="" aria-describedby="basic-addon1" value="{$Bigcustomer->getData('customer_id')}">
            </div><br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">大客户全称</span>
                <input type="text" class="form-control" name="full_name" placeholder="" aria-describedby="basic-addon2" value="{$Bigcustomer->getData('full_name')}">
            </div><br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">大客户简称</span>
                <input type="text" class="form-control" name="short_name" placeholder="" aria-describedby="basic-addon3" value="{$Bigcustomer->getData('short_name')}">
            </div><br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">总部营业员</span>
                <input type="text" class="form-control" name="head_salesperson" placeholder="" aria-describedby="basic-addon4" value="{$Bigcustomer->getData('head_salesperson')}">
            </div><br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon5">联系方式</span>
                <input type="text" class="form-control" name="phone" placeholder="" aria-describedby="basic-addon5" value="{$Bigcustomer->getData('phone')}">
            </div><br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon6">状态</span>
                <input type="text" class="form-control" name="status" placeholder="" aria-describedby="basic-addon6" value="{$Bigcustomer->getData('status')}">
            </div><br><br>
            <button type="submit">更新</button>
        </form>
    </div>
</div>
</body>
</html>