<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>事业部可计提绩效</title>
</head>
<body class="container">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--标题信息-->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h4 class="panel-title"><span>事业部可计提绩效</span></h4>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">

                    </div>
                </div>
            </div>
            <div class="panel-body">
            </div>
            <!-- 表单（开始） -->
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <tr class="info">
                        <th>序号</th>
                        <th>事业部</th>
                        <th>区域</th>
                        <th class="text-right">薪酬池</th>
                        <th class="text-right">薪酬计提</th>
                        <th class="text-right">薪酬结余</th>
                        <th class="text-right">财年</th>
                    </tr>
                    {volist name="bufinances" id="_Bufinance" key="key"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$_Bufinance->getData('bu_name')}</td>
                        <td>{$_Bufinance->getData('scompany')}</td>
                        <td class="text-right">{$_Bufinance->getData('quarter_pay')|number_format=2}</td>
                        <td class="text-right">{$_Bufinance->getData('sum_drawing')|number_format=2}</td>
                        <td class="text-right">{$_Bufinance->getData('quarter_pay_balance')|number_format=2}</td>
                        <td class="text-right">{$_Bufinance->getData('year')}</td>
                    </tr>
                    {/volist}
                </table>
            </div>
            {$bufinances->render()}
            <!-- 表单（结束） -->
        </div>
    </div>
</div>
</body>
<script src="/../tp5/public/static/js/myjs/buFinanceDetail.js" type="text/javascript"></script>
</html>