<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body class="container">
<div class="page-header" style="">
    <h1>财务报表<small>Financial Report</small></h1>
</div>
<!--登陆框-->
<div class="container">
    <!--天天向上，追求卓越-->
    <div class="center-block"><img src="__STATIC__/img/finance/01.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/02.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/03.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/04.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/05.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/06.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/07.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/08.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/09.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/10.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
    <div class="center-block"><img src="__STATIC__/img/finance/11.jpg" class="img-responsive center-block" ></div>
    <hr style="filter: progid:dximagetransform.microsoft.glow(color='#987cb9',strength=10)" width="80%" color="#987cb9" size=1>
</div>
</body>
</html>