<!DOCTYPE html>
<html lang="zh-CN">
<body>


<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<footer class="page-footer">
    <p class="mb-0">Copyright © 2023. All right reserved.</p>
</footer>
</div>
<!--end wrapper-->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase">主题定制</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr>
        <h6 class="mb-0">主题样式</h6>
        <hr>
        <div class="d-flex align-items-center justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked="">
                <label class="form-check-label" for="lightmode">浅色</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
                <label class="form-check-label" for="darkmode">深色</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
                <label class="form-check-label" for="semidark">一半深色</label>
            </div>
        </div>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
            <label class="form-check-label" for="minimaltheme">轻量主题</label>
        </div>
        <hr>
        <h6 class="mb-0">标题色</h6>
        <hr>
        <div class="header-colors-indigators">
            <div class="row row-cols-auto g-3">
                <div class="col">
                    <div class="indigator headercolor1" id="headercolor1"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor2" id="headercolor2"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor3" id="headercolor3"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor4" id="headercolor4"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor5" id="headercolor5"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor6" id="headercolor6"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor7" id="headercolor7"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor8" id="headercolor8"></div>
                </div>
            </div>
        </div>

        <hr>
        <h6 class="mb-0">侧边栏背景</h6>
        <hr>
        <div class="header-colors-indigators">
            <div class="row row-cols-auto g-3">
                <div class="col">
                    <div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
                </div>
                <div class="col">
                    <div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--end switcher-->
<!--JS文件-->
<!--<script src="__JS__/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>-->
<script src="<?php addVersion('__JS__/syndron/js/bootstrap.bundle.min.js');?>"></script>
<script src="<?php addVersion('__JS__/myjs/menu.js');?>"></script>
<script src="__JS__/bootstrap-table/1.22.1/dist/bootstrap-table.min.js"></script>
<script src="__JS__/bootstrap-table/1.22.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/bootstrap-table/1.22.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<script src="__JS__/bootstrap-table/1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="__JS__/bootstrap-table/1.22.1/dist/extensions/print/bootstrap-table-print.min.js"></script>

<script src="__JS__/bootstrap-submenu/3.0.1/js/bootstrap-submenu.js"></script>


<script src="__JS__/table_export/1.28.0/libs/FileSaver/FileSaver.min.js"></script>
<script src="__JS__/table_export/1.28.0/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="__JS__/table_export/1.28.0/libs/jsPDF/polyfills.umd.min.js"></script>
<script src="__JS__/table_export/1.28.0/libs/jsPDF/jspdf.umd.min.js"></script>
<script src="__JS__/table_export/1.28.0/libs/pdfmake/pdfmake.min.js"></script>
<script src="__JS__/table_export/1.28.0/libs/pdfmake/vfs_fonts.js"></script>
<script src="__JS__/table_export/1.28.0/libs/html2canvas/html2canvas.min.js"></script>
<script src="__JS__/table_export/1.28.0/tableExport.min.js"></script>




<!--<script src="__JS__/sheetjs-master/dist/xlsx.full.min.js"></script>-->
<script src="__JS__/form-master/dist/jquery.form.min.js"></script>

<!--plugins-->




<script src="<?php addVersion('__JS__/syndron/js/simplebar.min.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/metisMenu.min.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/perfect-scrollbar.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/lobibox.min.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/main.min.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/notifications.min.js');?>"></script>
<!--<script src="<?php addVersion('__JS__/syndron/js/index.js');?>"></script>-->
<!--app JS-->
<script src="<?php addVersion('__JS__/syndron/js/app.js');?>"></script>

<script src="<?php addVersion('__JS__/syndron/js/legacy.js');?>"></script>
<!--<script src="<?php addVersion('__JS__/syndron/js/picker.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/picker.time.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/picker.date.js');?>"></script>
<script src="<?php addVersion('__JS__/syndron/js/bootstrap-material-datetimepicker.min.js');?>"></script>-->


<script src="<?php addVersion('__JS__/syndron/js/moment.min.js');?>"></script>
<!--<script src="<?php addVersion('__JS__/bootstrap-datetimepicker/1.10.0/dist/js/bootstrap-datepicker.min.js');?>"></script>-->
<!--<script src="__JS__/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="<?php addVersion('__JS__/bootstrap-datetimepicker/1.10.0/dist/locales/bootstrap-datepicker.zh-CN.min.js');?>"></script>-->

<script src="__JS__/bootstrap-datepicker/1.10.0/dist/js/bootstrap-datepicker.min.js"></script>
<script src="__JS__/bootstrap-datepicker/1.10.0/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!--<script src="__JS__/bootstrap-datetimepicker/2.3.8/js/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/bootstrap-datetimepicker/2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>-->
<script src="<?php addVersion('__JS__/printThis/printThis.js');?>"></script>
<!--最后引用！最后引用！最后引用！-->
<script src="<?php addVersion('__JS__/bootstrap-select/1.14.0/js/bootstrap-select.min.js');?>"></script>
<script src="<?php addVersion('__JS__/bootstrap-select/1.14.0/js/i18n/defaults-zh_CN.min.js');?>"></script>
</body>
</html>